<p class="prices">
  {% load l10n %}
  {% if item.retail_price %}<del data-price-kind="retail" data-usd-price="{{ item.retail_price|unlocalize }}">${{ item.retail_price|floatformat:2 }}</del>{% endif %}
  <strong data-price-kind="listing" data-usd-price="{{ item.listing_price|unlocalize }}"
    >{% if item.listing_price == 0 %}Free{% else %}${{ item.listing_price|floatformat:2 }}{% endif %}</strong>
  {% if item.discount_percent %}<span class="discount-tag">{{ item.discount_percent|floatformat:1 }}% off</span
  >{% endif %}
</p>
